.container {
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 80vh;
    margin-top: 10%;
    padding: 0 2%;
}

.logoutButton {
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5%;
    font-size: var(--font-text);
    border: none;
    padding: 1% 5%;
    cursor: pointer;
    transition: all .3s;
}

.logoutButton:active,
.logoutButton:hover {
    background-color: var(--color-light);
}

.actions {
    width: 100%;
    display: flex;
}

.tableTitle {
    font-size: var(--font-title);
    margin: 2% 0;
}

.table {
    width: 80%;
    align-self: center;
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
}

.table td, .table th {
    padding: 1%;
    border: 1px solid black;
    border-collapse: collapse;
}

.table th:first-of-type {
    width: 10%;
}
