.container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.5s; 
}

.containerTransparent {
    background-color: rgba(0, 0, 0, 0.1);
}

.containerFull {
    background-color: var(--color-light);
}

.title {
    margin-left: 5%;
    font-size: var(--font-title);
    cursor: default;
}

.navLinks {
    display: flex;
    margin-right: 15%;
}

.navButton {
    background-color: #FFF;
    font-size: var(--font-subtitle);
    border: none;
    padding: 5%;
    cursor: pointer;
    margin: 0 5%;
    transition: all .3s;
}

.navButton:active,
.navButton:hover {
    background-color: var(--color-light);
}

